body {
    background-color: #333;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

#conteiner {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #444;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#InsertName {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
}

#Search {
    width: 20%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #555;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}